@font-face {
    font-family: "CircularStd-Medium";
    src: url("../../Assets/Fonts/CircularStd-Medium.otf") format("opentype");
}

@font-face {
    font-family: "CircularStd-Bold";
    src: url("../../Assets/Fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: "CircularStd-Book";
    src: url("../../Assets/Fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
    font-family: "CircularStd-Light";
    src: url("../../Assets/Fonts/CircularStd-Light.otf") format("opentype");
}

@keyframes fadeInUpwards {
    0% {
        transform: translateY(10%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes fadeInUpwardsSongs {
    0% {
        transform: translateY(10%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 50%;
    }
}

@keyframes fadeInUpwardsMore {
    0% {
        transform: translateY(30%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

body {
    width: 300px;
    height: 550px;
    margin: 0;

    background: linear-gradient(#21272c, #121517);

    background-attachment: fixed;

    /* display: flex;
    flex-direction: column;

    align-items: center; */
}

#back-button {
    background-color: transparent;
    border-color: transparent;

    position: fixed;
    top: 15px;
    left: 10px;
}

#back-icon {
    width: 28px;
    height: 28px;
}

#header {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 15px;

    position: fixed;
    top: 0;
}

#playlist {
    padding-top: 10%;
    animation: 1.5s ease-out 0s 1 fadeInUpwards;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playlist-cover {
    width: 100px;
    height: 100px;

    border-radius: 5px;
    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 1));
}

#playlist-name {
    font-family: "CircularStd-Book";
    color: white;
    text-align: center;

    font-size: 15px;
    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 1));
}

#convert {
    background-color: #1db854;

    animation: 2s ease-out 0s 1 fadeInUpwardsMore;

    border-radius: 90px;
    border-color: transparent;
    color: white;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 12px;
    font-family: "CircularStd-Bold";

    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 1));

    transition: 0.5s;
}

#convert:hover {
    transform: translateY(2px);
    transition: 0.5s;
}

#song-list {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 80%;

    /* position: absolute; */
    padding-top: 80%;

    /* background: linear-gradient(#21272c, #1a1f23); */

    /* padding-top: 15px; */
}

.song-cover {
    width: 36px;
    height: 36px;

    border-radius: 3px;
    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 1));

    
}

.song {
    animation: 2.5s ease-out 0s 1 fadeInUpwardsSongs;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    transition: 0.5s;
    opacity: 50%;
}

.song:hover {
    transition: 0.5s;
    transform: translateY(2px);
    opacity: 100%;
}

.song-details {
    width: 100%;

    display: flex;
    flex-direction: column;
    padding-left: 15px;
    font-family: "CircularStd-Book";
    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 1));
}

.song-name {
    color: white;
    padding: 0;
    margin: 0;
    text-align: bottom;
}

.song-artist {
    color: lightgrey;
    padding: 0;
    margin: 0;
    text-align: top;
}
