@font-face {
    font-family: "CircularStd-Medium";
    src: url("../../Assets/Fonts/CircularStd-Medium.otf") format("opentype");
}

@font-face {
    font-family: "CircularStd-Bold";
    src: url("../../Assets/Fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: "CircularStd-Book";
    src: url("../../Assets/Fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
    font-family: "CircularStd-Light";
    src: url("../../Assets/Fonts/CircularStd-Light.otf") format("opentype");
}

@keyframes fadeInUpwards {
    0% {
        transform: translateY(10%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 50%;
    }
}

body {
    width: 300px;
    height: 550px;
    margin: 0;

    background: linear-gradient(#21272c, #121517);
    background-attachment: fixed;
}

.header {
    font-size: 12px;
    font-family: "CircularStd-Bold";

    background: rgba(0, 0, 0, 0.75);
    /* background: linear-gradient(#1a1f23, #121517); */

    color: white;
    font-weight: 30;

    text-align: center;
    position: fixed;

    top: 0;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 100%;

    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-pic {
    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 1));
    border-radius: 90px;
    width: 26px;
    height: 27px;
    left: 35px;
    top: 48px;
    align-items: center;
    padding: 5px;
}

.action-icon {
    width: 21px;
    height: 21px;
    padding: 5px;
}

#playlist-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    /* overflow-y: hidden; */
    text-align: justify;
    padding-top: 35%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-bottom: 0px;
}

.album {
    animation: 1.5s ease-out 0s 1 fadeInUpwards;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 0 10px;
    background-color: transparent;
    border-color: transparent;

    opacity: 50%;

    transition: 0.5s;
}

.album:hover {
    opacity: 100%;
    transition: 0.5s;
}

.album-cover {
    width: 100px;
    height: 100px;
    border-radius: 5px;

    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 1));
    transition: 0.5s;
}

.album-cover:hover {
    transform: translateY(2px);
    transition: 0.5s;
}

.album-name {
    color: white;
    /* padding: 5px; */
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "CircularStd-Book";

    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 1));
}

#title {
    padding-left: 10px;
    padding-right: 20px;
}
