body {
    width: 300px;
    height: 550px;
    margin: 0;
}
.rectangle1 {
    position: absolute;
    top: 0;

    background-color: #4687d6;
    font-size: 15px;
    font-weight: 50;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 0;
}
.button1 {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    border-radius: 20px;
}
